*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  scrollbar-width: none;
  ms-overflow-style: none;
}

html,
body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;

  a {
    text-decoration: none;
    color: black;
  }

  textarea {
    resize: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;

    h1 {
      font-size: 3rem;
      font-weight: 900;
    }

    button {
      padding: 1rem 2rem;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      background-color: #f5f5f5;

      &:hover {
        background-color: #e5e5e5;
      }
    }

    img {
      max-width: 900px;
      height: auto;
      display: none;
    }

    canvas {
      overflow-y: hidden;
      overflow-x: hidden;
      width: 100%;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
  }
}
